<div class="modular-row showcase header">
    <div class="container">
        {{ content }}

        {% for button in page.header.buttons %}
            <a class="btn{% if button.primary %} btn-default{% endif %}" href="{{ base_url_relative }}{{ button.url }}">{{ button.text }}</a>
        {% endfor %}
    </div>
</div>
