<ul class="list-group">
{% set month = "now"|date("m/d/Y") %}
{% for j in range(1, 12) %}
	{% set month = month|date_modify('-1 month') %}
    <li class="list-group-item"><a href="{{ base_url }}/month:{{ month|date('M_Y')|lower|e('url') }}">{{ month|date('F Y') }}</a></li>
{% endfor %}
</ul>
