ol.breadcrumb {
    padding-left: 0;
    background: transparent;
}

.list-item {
    margin: 30px 0 50px;
}

.blog-header-image {
    margin: 15px 0;
}

.sidebar-content {
    margin-bottom: 50px;
}
