{% embed 'partials/base.html.twig' %}

	{% set base_url = page.parent.url %}

	{% block content %}
        <div class="container">

		<div class="row">
                <div class="col-sm-8 blog-main">
					{% if config.plugins.breadcrumbs.enabled %}
						{% include 'partials/breadcrumbs.html.twig' %}
					{% endif %}

    			    {% include 'partials/blog_item.html.twig' with {'truncate':false,'big_header':true} %}
    			</div>

                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    				{% include 'partials/sidebar.html.twig' %}
    			</div>
    		</div>
        </div>
	{% endblock %}

{% endembed %}
